<h2>Shopping Cart</h2>
<ng-container *ngIf="cartcount">
  <p>
    You have {{cartcount}} item in your shopping cart.
  </p>
  <table class="table">
    <thead>
      <tr>
          <th width="150"></th>
          <th>Product</th>
          <th width="250" class="text-center">Quantity</th>
          <th width="150" class="text-right">Unit Price</th>
          <th width="200" class="text-right">Price</th>
      </tr>
    </thead>
    <ng-container *ngFor="let p of products">
     <tbody *ngIf="cart$ | async as cart">
      <tr *ngIf="cart.item[p.$key] && cart.item[p.$key].quantity > 0">
        <td><img [src]="cart.item[p.$key].product.imageURL" class="thumbnail" [alt]="cart.item[p.$key].product.title"></td>
        <td >{{cart.item[p.$key].product.title}}</td>
        <td>
            <product-quantity [product]="p" [shopping-cart]="cart.item"></product-quantity>
        </td>
        <td class="text-right">{{cart.item[p.$key].product.price | currency:'USD':'$'}}</td>
        <td class="text-right">{{cart.item[p.$key].product.price*cart.item[p.$key].quantity | currency:'USD':'$'}}</td>
      </tr>
    </tbody>
    </ng-container>
    <tfoot>
      <tr>
        <td><b>Total Price</b></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="text-right">{{ totalPrice() | currency:'USD':'$' }}</td>
      </tr>
    </tfoot>
  </table>
  <button (click)="clearCart()" class="btn btn-danger btn-sm">Clear Cart</button>

