<div class="row">
    <div class="col-md-4" *ngFor="let p of product$; let i = index">
        <div class="card">
            <img class="card-img-top" [src]="p.imageURL" alt="Card image URL" *ngIf="p.imageURL">
            <div class="card-body">
              <h5 class="card-title">{{p.title}}</h5>
              <p><b>Price : {{p.price | currency : 'USD':true}}</b></p>
              <p><button class="btn btn-primary">Add to cart</button></p>
            </div>
        </div>
      </div>
</div>